@media screen and (max-width: 1366px)
   .header__promo 
      justify-content: center
   .header__img img 
      width: 412px
   .header__navigation 
      padding-left: 35px
      padding-right: 35px
   .content-area__online-call .content-area__img 
      right: 31px
      width: 565px
      height: 424px
   .content-area__info-block 
      margin-left: 30px
   .content-area__online-call-title
      margin-top: 45px
   .content-area__online-call
      height: 400px
   .footer__inner 
      padding-left: 35px
      padding-right: 35px
@media screen and (max-width: 1100px)
   .header__content 
      margin-right: 12px
   .header__title 
      width: 478px
   .container 
      width: 990px
   .content-area__list
      overflow: hidden
@media screen and (max-width: 1024px)
   .container
      width: 700px
   .header__img 
      display: none
   .header__navigation
      padding-bottom: 80px
   .advantages__item 
      padding: 16px 30px
      margin: 10px 10px
   .content-area__item-inner
      flex-flow: column nowrap
      margin-bottom: 60px
   .content-area__img-block
      order: 1
   .content-area__list
      padding-top: 80px
   .content-area__info-block 
      margin-bottom: 50px
   .content-area__online-call .content-area__img
      display: none
   .footer__logo 
      padding-top: 10px
   .footer__contacts-feedback 
      font-size: 15px
@media screen and (max-width: 768px)
   .container 
      width: 560px
   .content-area__img
      width: 500px
   .footer__contacts-feedback
      text-align: right
@media screen and (max-width: 575px)
   .container
      width: 370px
   .header__navigation,
   .footer__inner
      padding-left: 0
      padding-right: 0
      flex-flow: column nowrap
   .header__navigation
      padding-left: 0
      padding-right: 0
      padding-bottom: 50px
   .header__title,
   .header__sign-in
      width: auto
   .header__nav-item
      margin-left: 0
      margin-right: 31px
   .header__title
      font-size: 31px
      line-height: 37px
      width: auto
   .header__paragraph 
      margin-bottom: 45px
      br 
         display: none
   .header__content 
      margin-right: 0
      padding: 0 10px
   .header__nav-menu 
      padding: 0 10px
      margin-top: 10px
   .header__link
      width: 150px
   .advantages__item
      padding: 10px 15px
      margin: 10px 5px
   .content-area__title
    font-size: 25px
   .content-area__online-call-text
      width: auto
      color: #fff
   .content-area__online-call
      height: auto
   .content-area__img-block
      text-align: center
   .content-area__img
      width: 320px
   .header__inner 
      padding-bottom: 50px
   .footer__list
      justify-content: center
   .footer__contacts-feedback
      text-align: center
   .footer__logo
      padding-top: 0
      text-align: center
      padding-bottom: 25px
   .footer__item
      margin: 0 15px
@media screen and (max-width: 375px)
   .container 
      width: 300px
   .header__link
      width: 125px
      font-size: 11px
   .content-area__item-inner>div:nth-child(2),
   .content-area__info-block
      margin-left: 0
   .content-area__img 
      width: 300px
   .header__paragraph
      font-size: 16px
   .content-area__button-conf
      margin: 0 auto