body{
	background-color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #2f2f2f;
	-webkit-animation: bugfix infinite 1s;
   margin: 0;
}
@-webkit-keyframes bugfix {
	to {
		padding: 0;
	}
}

ul, ol {
	list-style: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.no-padding {
	padding: 0;
}

h1 {
   font-family: 'Montserrat Alternates', sans-serif;
   color: rgb(1 17 57);
   font-size: 41px;
   margin: 0;
}

body {
   position: relative;
   overflow: hidden;
}

p {
   color: rgb(102 109 139);
}

/* main background */
.dot1::after {
   content: '';
   display: block;
   position: absolute;
   left: -380px;
   top: 24vh;
   width: 1526px;
   height: 1226px;
   border-radius: 100%;
   background: radial-gradient(circle, rgb(250 174 255 / 51%) 0%, rgba(88,107,233,0) 50%);
   z-index: -1;
}
.dot2::before {
   content: '';
   display: block;
   position: absolute;
   left: 220px;
   top: -58vh;
   width: 1476px;
   height: 1500px;
   border-radius: 100%;
   background: radial-gradient(circle, rgb(202 239 237) 0%, rgba(88,107,233,0) 50%);
   z-index: -2;
}

/* main chat */
.main {
   display: flex;
   align-content: space-between;
}
.main > div {
   margin: 0 15px;
}

/* header */
.header h1 {
   margin-left: 40px;
}
.header div {
   display: flex;
   align-items: flex-end;
   align-content: flex-start;
   margin-left: auto;
   padding-right: 40px;
}

/* chat players */
.chat_player .item:nth-child(1) {
   -webkit-box-shadow: 0px 5px 10px 2px rgb(64 121 167 / 15%);
   -moz-box-shadow: 0px 5px 10px 2px rgb(64 121 167 / 15%);
   box-shadow: 0px 5px 10px 2px rgb(64 121 167 / 15%);
}
.chat_player .item:hover {
   -webkit-box-shadow: 0px 5px 10px 2px rgb(102 173 231 / 20%);
   -moz-box-shadow: 0px 5px 10px 2px rgb(102 173 231 / 20%);
   box-shadow: 0px 5px 10px 2px rgb(102 173 231 / 20%);
   transform: translateX(2px);
}

/* chat card area */
.item {
   background: #fff;
   border-radius: 30px;
   padding: 12px;
   box-sizing: border-box;
   width: 200px;
   /* height: 60px; */
   margin-bottom: 20px;
   cursor: pointer;
   -webkit-box-shadow: 0px 5px 10px 2px rgb(124 149 169 / 9%);
   -moz-box-shadow: 0px 5px 10px 2px rgb(124 149 169 / 9%);
   box-shadow: 0px 5px 10px 2px rgb(124 149 169 / 9%);
   transition: transform ease .3s;
}

/* avator */
.avatar {
   width: 35px;
   display: inline-block;
   vertical-align: top;
   position: relative;
}
.avatar img {
   width: 100%;
   height: 35px;
   border-radius: 60px;
}
.online .avatar::after {
   content: '';
   display: block;
   width: 13px;
   height: 13px;
   border-radius: 30px;
   background: #8affbe;
   position: absolute;
   border: 2px solid #fff;
   right: 0px;
   bottom: 4px;
}
/* card about */
.info {
   display: inline-block;
   vertical-align: top;
   width: 110px;
   margin-left: 10px;
}
.info p {
   margin-top: 0;
   margin-bottom: 5px;
   position: relative;
   color: rgb(1 17 57);
   font-size: 11px;
}
.info p span {
   color: rgb(102 109 139);
   position: absolute;
   right: 0;
   top: 0;
   font-size: 11px;
}
.last_message p {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}


/* chat activity */
.message.host .cloud {
   width: 550px;
   margin-left: auto;
   background: rgb(125 0 255);
   border-radius: 25px;
   padding: 18px;
   box-sizing: border-box;
   -webkit-box-shadow: 0px 5px 10px 2px rgb(124 149 169 / 25%);
   -moz-box-shadow: 0px 5px 10px 2px rgb(124 149 169 / 25%);
   box-shadow: 0px 5px 10px 2px rgb(124 149 169 / 25%);
}
.message.host .cloud p {
   color: rgb(248 233 255);
   margin: 0;
}
.message.companion .item p:nth-child(2) {
   color: rgb(55 71 101);
}
.chat_player {
   margin-top: 35px;
   overflow: scroll;
   height: 620px;
   padding-right: 20px;
}
.chat_title {
   padding-bottom: 5px;
   padding-left: 5px;
   border-bottom: 2px solid rgb(237 238 244);
   border-radius: 5px;
   margin-bottom: 30px;
}

/* cloud message */
.message {
   margin-bottom: 30px;
}
.message .avatar {
   width: 50px;
   display: inline-block;
   margin-right: 10px;
}
.message .avatar img {
   height: 50px;
}
.message .item {
   display: inline-block;
   height: auto;
   margin-bottom: 0;
   width: 550px;
}
.message .cloud {
   position: relative;
}
.message .item p {
   margin: 0;
   margin-bottom: 7px;
}
.message .time_check {
   position: absolute;
   right: 20px;
   font-size: 12px;
   bottom: 5px;
}
.message_area {
   flex: 1;
}
.chat_activity {
   overflow: scroll;
   height: inherit;
   height: 600px;
}


/* окно отправки */
.send {
   text-align: right;
   padding-right: 20px;
   margin-top: 30px;
}
.send textarea {
   height: 42px;
   resize: none;
   border: 1px solid #ccc;
   border-radius: 40px;
   margin-right: 10px;
   padding-left: 20px;
   box-sizing: border-box;
   line-height: 28px;
}
.send form div {
   display: inline-block;
   vertical-align: top;
}
.send input[type="submit"] {
   background: #9ee6ed;
   border: 0;
   height: 40px;
   border-radius: 17px;
   padding: 10px 30px;
   line-height: 20px;
   color: #374765;
   font-weight: 900;
   cursor: pointer;
}
.send input[type="submit"]:hover {
   background: #82d5dd;
}