/* xl - 1200 */
@media screen and (max-width: 1200px) {
 
}

/* xl - 1100 */
@media screen and (max-width: 1100px) {
  
}

/* lg - 992 */
@media screen and (max-width: 992px) { 
  
}

/* md - 768 */
@media screen and (max-width: 768px) {
 
}

/* sm - 576 */
@media screen and (max-width: 576px) {
 
}

@media screen and (max-width: 530px) {
 
}

/* xs - auto */
@media screen and (max-width: 460px) {
  
}

@media screen and (max-width: 320px) {
  
}
