body{

	background-color: #fff;
   margin: 0;
   padding: 0;

   /* font-family: 'Montserrat', sans-serif; */
   font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #2f2f2f;

}
* {
   box-sizing: border-box
}

/* 1100px container */

.container {
   width: 1100px;
   margin: 0 auto;
}

